<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306378207939-vumqhbuih069mpr199nrpco4uofst8ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306378207939-vumqhbuih069mpr199nrpco4uofst8ah</string>
	<key>API_KEY</key>
	<string>AIzaSyB-w1bjplVQGzi4y0RJi5dbobmJ9gPDunQ</string>
	<key>GCM_SENDER_ID</key>
	<string>306378207939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dowon.ttolc</string>
	<key>PROJECT_ID</key>
	<string>ttolc-1dcff</string>
	<key>STORAGE_BUCKET</key>
	<string>ttolc-1dcff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306378207939:ios:143fd86e3e28adac50a876</string>
	<key>DATABASE_URL</key>
	<string>https://ttolc-1dcff.firebaseio.com</string>
</dict>
</plist>